@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.round-shape-bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.round-shape-top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:0px;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
}

.experience {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50% 60%;
    border-bottom-right-radius: 50% 60%;
}